@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

*{
	font-family: Pretendard;
	font-weight:600;
}
a:hover{
	cursor:pointer;
}
/* modal */
.modal{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index: 9999;
	visibility:hidden;
}
.modal_background{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:#000;
	opacity:0.8;
}
.modal_left{
	position:fixed;
	top:50%;
	left:11%;
	transform: scale(0.7);
}
.modal_right{
	position:fixed;
	top:50%;
	right:15%;
	transform: scale(0.7);
}
.modal_arrow_area{
	position:fixed;
	width: 85px;
    height: 85px;
}
.modal_left_arrow{
	transform: translate(0%, -50%);
}
.modal_right_arrow{
	transform: translate(0%, -50%); 
}
.modal_arrow_area:hover{
	transform:scale(1.1);
}
.modal_contents{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:68%;
	height:70%;
	text-align:center;
}
.modal_img{
	height:100%;
	width:100%;
	object-fit: contain;
}

.modal_detail{
	width:60vw;
	height:100px;
	position:fixed;
	bottom:3%;
	left:50%;
	transform: translate(-50%, 0%);
}

.modal_detail_span{
	color:#fff;
}

.active{
	visibility: visible;
}

 /* common ---------------------------------------------------------------------------------------- */
*{padding:0; margin:0; box-sizing: border-box; color:#333333;}
li{list-style: none;}
a{text-decoration: none; color:inherit;}
img{vertical-align: top;}

  /* header ---------------------------------------------------------------------------------------- */
 header{width: 100%; height: 100px; background: #fff; text-align:center;}
 .inner{display: inline-block; align-items: center; width: 1200px; height: 100px; margin: 27px auto;}
 .inner img{width: 250px;}
header h1{width: 200px; height: 40px; font-size: 0px; color:transparent;}
header nav >ul{display: flex; width: 600px; margin-left: 320px;}
header nav a{display: block; text-align: center; background: #fff; padding:10px;}

li.lv1{position:relative; width: 25%;}
li.lv1 >a{font-size: 18px; font-weight: 600;}
ul.lv2{position:absolute; width: 100%; z-index: 998; display: none;}

li.lv1:hover >a{color:#fff; background: rgb(235, 5, 78);}
ul.lv2 li:hover a{color:rgb(235, 5, 78); background: rgb(247, 214, 223);}

.main{position:relative; width: 100vw;  margin: 0 auto;}
/* popUpBox ---------------------------------------------------------------------------------------------------*/
.popUpBox{position:absolute; width: 100%; height: 100%; z-index:999; display: none;}
.popUp{position:absolute; width:645px; left:50%; top:50%; transform: translate(-50%, -70%); 
    text-align: center; line-height: 2;  padding:20px;}
.popUp p{font-size: 15px; margin-top: 10px;}
.popUp div{margin-top: 30px;}
.popUp button{float: right; padding:4px; cursor: pointer; margin-top: 10px;}

/* slideContainer ---------------------------------------------------------------------------------------- */
.slideContainer{width: 100vw; height: 485px;overflow: hidden;margin:auto;}
.slide{position:relative;margin:auto;text-align:center;}
.slide p{position:absolute; left:0; top:0; padding:10px;font-size: 0px;}

/* content ---------------------------------------------------------------------------------------- */
.content{display:flex; width: 1200px;margin: 0 auto;padding-top: 50px;}
.content >*{width: 800px; height: 220px;}
.notice, .gallery{padding:10px;}
.notice h3, .gallery h3{font-size: 18px; font-weight: 600; margin-bottom: 10px;}

.notice li{display: flex; line-height: 2.2;}
.notice li a{display: inline-block; width: 250px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.notice li span{margin-left: auto;}
.notice li:hover{background: rgb(253, 228, 204);}

.gallery li{display: inline-block; width: 32%; margin-top: 10px; opacity: .8;}
.gallery li:hover{opacity: 1;}
.gallery img{width: 100%; opacity: 0.8;}
.gallery img:hover{opacity: 1;}

.banner{position:relative;}
.banner h2{position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); font-size: 18px; font-weight: 600; background: #fff; padding:10px;}
.banner a img {
	border-radius: 20px;
}

/* footer ---------------------------------------------------------------------------------------- */
footer{width: 100%; height: 100px; background: #01bfdf;}
a.footerLogo{width: 200px; height: 40px; font-size: 0px; color:transparent;}
footer p{width: 70%; text-align: center; color: #fff;}
.sns{display: flex; justify-content: space-between; width: 10%;}
.sns li{display: inline-block; width: 24%;}
.sns li img{width: 100%;}

/* YW_career */
.YW_career{
	border-top:1px solid #aaa;
}
.YW_career .category_header{
	padding:30px;
}
.YW_career .category_contents{
	color: #7f7f7f;
}
/* category_box */
.category_box{
	width: 1280px;
	margin:auto;
}

.category_viewAll{
	float: right;
	position: relative;
    top: -6px;
}

.category_viewAll_btn{
	display:block;
	font-size: 16px;
	border:1px solid #999;
	padding:3px 10px;
	border-radius: 5px;

}
.category_viewAll_btn:hover{
	border:1px solid #263a83;
	background-color:#263a83;
	color:#fff;
}

.category_title{
	padding: 60px 0px 25px 0;
	font-size:15px;
}

.category_title span{
	display:block;
	color:#7f7f7f;
	float:left;
	font-weight: 500;
}

.category_table{
	width: 100%;
	border-collapse: collapse;
	border:1px solid #aaa;
	margin-bottom:60px;
	font-size:18px;
}

.category_header{
	width:200px;
	text-align: center;
	padding: 30px 0px 10px 0;
	background-color:#fafafc;
	font-weight: 600;

	border-right:1px solid #aaa;
}

.category_contents{
	text-align: left;
	word-break:keep-all;
	font-weight: 400;
	font-size: 16px;
	padding:0 30px;
	
}

.category_contents a{
	font-weight: 400;
	color:#7f7f7f;
	display:inline-block;
	padding: 30px 10px 10px 10px;
}

.category_contents a:hover{
	color:#263a83;
}

.searchBtn{
	padding:2px 10px;
}

.category_contents .category_contents_hashtag{
	padding:5px;
	color:#7f7f7f;
}

.category_contents .category_contents_hashtag:hover{
	cursor:pointer;
	color:#333;
}
input[type='radio']{
	width:17px;
	height:17px;
	-webkit-appearance: none;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 0.5em;
}

input[type=radio]:checked {
	background: url(../images/check.png) no-repeat center center;
	border: 1px solid #999;
	background-size: 14px 14px;
}
  
input[type=radio]:focus {
	outline-color: transparent;
}
.inputArea{
	display:inline;
}

.newBestSpan{
	font-size:17px;
	position:relative;
	top:-3px;
	color:#333;
}

/* content_card */
.content_card_box{
  width: 1320px;
  height:auto;
  margin:auto;
}
.content_div{
  width:300px;
  height:380px;
  margin:0 15px;
  margin-bottom: 80px;
  float: left;
  transition-duration: 120ms;
}

.content_image{
  width:300px;
  height:300px;
  border-radius: 20px;
  transition-duration: 120ms;
}

.content_image:hover{
  cursor:pointer;
  transform:scale(104%);
}

.content_box{
  background-color: #d8e6f8;
  color:#337fda;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 5px 35px ;
  /* position: absolute; */
}

.content_category{
  margin-top: 25px;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;

}

.content_title{
  margin-top: 8px;
  display: block;
  font-size:17px;
  margin:15px 0 10px 0;
}

.content_type{
  z-index: 9;
  display:block;
  position:relative;
  top: 34px;
  left: 217px;
}

.content_type_BEST{
  width:73px;
  background-color: #fd1a1a;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 3px 2px;
}

.content_type_NEW{
  width:73px;
  background-color: #7355d0;
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 3px 2px;
}

.category_contents .category_contents_tool{
	padding:10px;
	color:#7f7f7f;
}

.category_contents .category_contents_tool:hover{
	cursor:pointer;
	color:#333;
}